.profileimage {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttonGroup {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* margin-left: 5%; */
  padding: 10px;
  display: block;

  width: 80%;
}

.linkTo {
  text-decoration: none;
}
.linkTo:hover {
  background-color: lightblue;
}
.mainButton {
  color: lightcoral;
}
Button.mainButton:hover {
  background-color: transparent;
}
